<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="logFileAppender"/>
    </root>
    <appender name="logFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\simple_http_proxy.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline"/>
      </layout>
    </appender>
  </log4net>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <!-- Default app settings -->
  <appSettings>
    <add key="hostnameTxt" value="127.0.0.1"/>
    <add key="portTxt" value="8080"/>
    <add key="sslChk" value="false"/>
    <add key="sslPortTxt" value="8443"/>
    <add key="blackLocationTxt" value="cfg\blacklist.txt"/>
    <add key="whiteLocationTxt" value="cfg\whitelist.txt"/>
  </appSettings>
</configuration>
