<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <!-- Default app settings -->
    <appSettings>
      <add key="hostnameTxt" value="localhost"/>
      <add key="portTxt" value="8080"/>
      <add key="sslChk" value="false"/>
      <add key="sslPortTxt" value="8443"/>
      <add key="blackLocationTxt" value="cfg\blacklist.txt"/>
      <add key="whiteLocationTxt" value="cfg\whitelist.txt"/>
    </appSettings>
</configuration>
